.hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 860px;
    padding: 100px 0;
}
.hero__title {
    width: 450px;
    font-family: "Montserrat-Semibold", sans-serif;
        font-style: normal;
        font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}
.hero__link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 16px 32px;
    width: 172px;
    height: 54px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ECD6B6;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.hero__link:hover{
    color: #333;
    background-color: #ECD6B6;
}
.hero__img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}