.title--404{
    margin-top: 32px;
    font-family: "Montserrat-Semibold", sans-serif;
        font-style: normal;
        font-weight: 600;
    font-size: 160px;
    line-height: 1.2;
    text-align: center;
}