.items {
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 30px;
  margin-bottom: 50px;
}
.items__item {
  width: 380px;
}
.items__img {
  display: block;
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.items__img:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(102, 102, 102, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(102, 102, 102, 0.2);
}
.items__tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.items__tag {
  padding: 5px 10px;
  color: #111;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 16px;
  text-align: center;
}
.items__tag--html {
  background: #f2cebf;
}
.items__tag--css {
  background: #86ccec;
}
.items__tag--scss {
  background: #f9d1e5;
}
.items__tag--js {
  background: #edd5af;
}
.items__tag--jquery {
  background: #bbd6f0;
}
.items__tag--react {
  background: #9de9f7;
}
.items__tag--ts {
  background: #90bef0;
}
.items__tag--wp {
  background: #9bc8e6;
}
.items__tag--bootstrap {
  background: #c7badc;
}
