.items {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 40px 20px;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .items {
    gap: 30px 15px;
    grid-template-columns: 48% 48%;
  }
}
@media (max-width: 576px) {
  .items {
    gap: 30px 15px;
    grid-template-columns: 100%;
  }
}
