.project__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
}
.project__link {
  position: absolute;
  top: 5px;
  display: inline-block;
}
.project__link,
.table__link {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.project__link:hover,
.table__link:hover {
  opacity: 0.6;
}
.table {
  max-width: 700px;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
}
.table__row {
  vertical-align: top;
}
.table__data {
  padding: 15px;
  padding-left: 0;
  vertical-align: text-top;
}
.table__data:first-child {
  width: 30%;
}
.table__list,
.table__list-item {
  list-style: circle;
  list-style-position: inside;
}
.table__list-item + .table__list-item {
  margin-top: 5px;
}
.table__link + .table__link {
  margin-left: 15px;
}
.project__img {
  width: 500px;
  height: 347px;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .project__img {
    width: 360px;
    height: 250px;
  }
}
@media (max-width: 991px) {
  .project__info {
    flex-direction: column;
  }
  .project__img {
    margin: 0 auto;
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .project__img {
    width: 100%;
  }
}
