.project__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.project__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.project__list-item:first-child {
  width: 100%;
  flex-basis: 100%;
}
.project__list-item + .project__list-item {
  margin-top: 10px;
  margin-right: 10px;
}
.project__link {
  display: inline-block;
  margin-top: 20px;
}
.project__link,
.project__list-link {
  color: #fff;
  text-decoration-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-text-decoration-color: transparent;
}
.project__link:hover,
.project__list-link:hover {
  opacity: 0.6;
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  .project__img {
    width: 360px;
  }
}
@media (max-width: 991px) {
  .project__info {
    flex-direction: column;
  }
  .project__img {
    margin: 0 auto;
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .project__img {
    width: 100%;
  }
}
