.header {
  padding-top: 32px;
}
.header__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.header__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.header__menu-item + .header__menu-item {
  margin-left: 45px;
}
.header__link {
  display: block;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}
.header__link:hover {
  opacity: 0.6;
}
.header__menu-link {
  color: #fff;
}
.header__menu-link {
  text-decoration: none;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}
.header__menu-link:hover {
  opacity: 0.6;
}
.header__menu-link--active {
  color: #ecd6b6;
}
.header__menu-link--active:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .header__link {
    margin-right: 45px;
    margin-bottom: 8px;
  }
  .header__logo {
    width: 115px;
  }
}
