.header {
  padding-top: 32px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__menu-item + .header__menu-item {
  margin-left: 45px;
}
.header__link {
  display: block;
}
.header__menu-link {
  color: #fff;
}
.header__menu-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}
.header__menu-link:hover {
  text-decoration-color: inherit;
  -webkit-text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
}
.header__menu-link--active {
  color: #ecd6b6;
  text-decoration: none;
}

@media (max-width: 991px) {
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .header__link {
    margin-right: 45px;
    margin-bottom: 8px;
  }
  .header__logo {
    width: 115px;
  }
}
