.items__item {
  width: 100%;
}
.items__link {
  display: block;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.items__link:hover {
  box-shadow: 0px 0px 10px 5px #333;
}
.items__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}
.items__tag {
  padding: 5px 10px;
  color: #111;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 16px;
  text-align: center;
}
.items__tag--html {
  background: #f2cebf;
}
.items__tag--css {
  background: #86ccec;
}
.items__tag--scss {
  background: #f9d1e5;
}
.items__tag--javascript {
  background: #edd5af;
}
.items__tag--jquery {
  background: #bbd6f0;
}
.items__tag--react {
  background: #9de9f7;
}
.items__tag--typescript {
  background: #90bef0;
}
.items__tag--wordpress {
  background: #9bc8e6;
}
.items__tag--bootstrap {
  background: #c7badc;
}
@media (max-width: 1100px) {
  .items__link {
    height: 200px;
  }
}
@media (max-width: 991px) {
  .items__tag {
    font-size: 12px;
  }
  .items__link {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .items__link {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .items__link {
    height: 250px;
  }
}
